version: '3.7'
services:

  {{project_name}}:
    build: 
      context: ./
    
      args:
        env: {%raw%}${ENV}{%endraw%}
  
    image: gitlab.space-tech.online:5050/webdev/{{project_name}}:{%raw%}${ENV}
    {%endraw%}
    container_name: {{project_name}}
    restart: always
    ports:
      - "{{port_host}}:8080"

    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf

    networks:
      - {{project_name}}

networks:
  {{project_name}}:
    name: {{project_name}}
    driver: bridge
