version: '3.7'
services:

  {{project_name}}:
    image: gitlab.space-tech.online:5050/webdev/{{project_name}}:{%raw%}${ENV}
    {%endraw%}
    build:
      context: ./
      args:
        env: {%raw%}}${ENV}{%endraw%}

    restart: always
    ports:
      - "8888:4000"

    networks:
      - {{project_name}}

networks:
  {{project_name}}:
    name: {{project_name}}
    driver: bridge
