{%raw%}
# ---- Base Nginx Image ----
FROM alpine:latest AS base

RUN apk add --no-cache --update nodejs npm
WORKDIR /usr/local/app

# ---- Install & Cache js Dependencies ----
FROM base AS dependencies
# install node packages

COPY package.json .
COPY package-lock.json .

RUN mkdir build
RUN npm install --production

FROM dependencies as builder
COPY . .
RUN npm run build

# ---- Release Image with Builded angular app ----
FROM nginxinc/nginx-unprivileged:alpine
WORKDIR /home/app
COPY --chown=nginx:nginx --from=builder /usr/local/app/build /home/app 
{%endraw%}